.btn-add {
    background: no-repeat -467px -421px;
    font-size: 13px;
    color: #fff;
}

.btn-add:focus {
    outline: none;
    border: 1px solid #1aa4c8 !important;
    color: #1aa4c8 !important;
    background-color: #ffffff;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1aa4c8;
    border-radius: 3px;
    width: 90px;
    height: 32px;
    overflow: hidden;
    border: none;
}

.btn:focus {
    outline: none;
    border: 1px solid #1aa4c8 !important;
    color: #1aa4c8 !important;
    background-color: #ffffff;
}

.btn-header-right:focus {
    color: #1aa4c8 !important;
}

.btn-header-right {
    align-items: center;
    display: flex;
    justify-content: right;
}

.btn-header-right i{
    position: absolute;
    font-size: 17px;
    -webkit-text-stroke: 0.1px rgb(189, 186, 186);
}

.button__icon {
    background-image: url(../../assets/icon/qlts-icon.svg) !important;
    display: inline;
}

.btn:hover {
    background-color: #58bdd6;
    cursor: pointer;
    color: #fff;
}

.btn-dialog {
    margin-left:16px;        
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1aa4c8;
    border-radius: 3px;
    width: 90px;
    height: 32px;
    overflow: hidden;
    border: none;
}

.btn-cancel-dialog:hover {
    cursor: pointer;
}

