.vuejs3-datepicker__value{
    font-size: 10px !important;
    width: 100% !important;
    position: relative !important;
    padding: 0 0 0 0  !important;
    min-width: auto !important;
}
.vuejs3-datepicker__value:focus-visible{
    outline: none !important;
}
.vuejs3-datepicker__icon{
    display: none !important;
}
.vuejs3-datepicker__typeablecalendar{
    right:12px !important;
    position: absolute;
    left: unset !important;
}

.vuejs3-datepicker__content {
    margin-left: 14px !important;
    font-size: 14px !important;
    display: flex !important;
    align-items: center !important;
    line-height: 33px !important;
}
#calendar-div{
    outline: none!important;
    border:none !important;
    height: 34px !important;
}
#calendar-div:focus-visible{
    outline: none !important;
}
.vuejs3-datepicker{
    outline: none!important;
    width: 100% !important;
}
.vuejs3-datepicker__calendar {
    z-index: 1000000 !important;
    top: -450px !important;
    width: 100% !important;
}

.vuejs3-datepicker__calendar-topbar{
    background-color: #2cb2d4 !important;
}

.vuejs3-datepicker__calendar .today{
    background-color: #2cb2d4 !important;
} 

.vuejs3-datepicker__calendar .selected{
    background-color: #2cb2d4 !important;
}

.vuejs3-datepicker input:focus-visible{
    outline: none !important;
}

.vuejs3-datepicker input{
    height: 36px !important; 
    border-radius: 4px !important;
    outline: none !important;
    box-sizing: border-box !important;
    border: 1px solid #bbbbbb !important;
    padding-left: 10px !important;
    padding-right: 5px !important;
    min-width: 100% !important;
    font-family: MISA Fonts !important;
}

.border-red {
    border: 1px solid rgb(244, 12, 12) !important;
  }