.icon-nav {
    background-image: url(../../assets/icon/qlts-icon.svg) !important;
    width: 24px !important;
    height: 24px !important;
    padding: 8px 10px;
    position: fixed;
}

.icon-content {
    background-image: url(../../assets/icon/qlts-icon.svg) !important;
}

.icon-dropdown {
    background: no-repeat -72px -338px;
	width: 8px;
	height: 5px;
    position: absolute;
    padding-right: 10px;
}

.btn-updown-number {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.icon-up-number {
	background: no-repeat -28px -338px;
	width: 8px;
	height: 5px;
    cursor: pointer;
    margin-bottom: 6px;
}

.icon-down-number {
    background: no-repeat -72px -338px;
    width: 8px;
    height: 5px;
    cursor: pointer;

}

.icon-pading {
    padding: 3px;
    margin: 1px;
}
.icon-pading:hover {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(233, 233, 244);
}