.input {
    height: 32px; 
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #bbbbbb;
    padding-left: 10px;
    padding-right: 5px;
    min-width: 100%;
    font-family: MISA Fonts;
    font-size: 13px;
}

.input:focus,
select:focus {
    border-color: #1aa4c8
}

.input--required {
    color: rgb(246, 9, 9);
}

.input__error--required {
    border: 1px solid rgb(248, 7, 7);
}

.input-dropdown {
    display: flex;
    justify-content:right;
    align-items: center;
}

.input-updown {
    display: flex;
    justify-content:right;
}

.input-updown input {
    text-align: right;
}

.input-number {
    padding-right: 35px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.inputdisable {
    background-color: rgb(230, 230, 230);
    color: #000;
}

