.side-bar li .tooltip,
.side-bar .logo-details .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 10px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 4px 4px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }

  .side-bar .logo-details .tooltip{
    left: calc(100%) !important;
  }

  .side-bar li:hover .tooltip,
  .side-bar .logo-details:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }

  .table-header tr th .tooltip {
    position: absolute;
    top: -20px;
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 4px 4px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }

  .table-header tr th:hover .tooltip {
    opacity: 1;
    cursor: pointer;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }


  .content-header-right .padding .tooltip{
    position: absolute;
    top: -20px;
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 4px 4px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }

.content-header-right .padding:hover .tooltip{
  opacity: 1;
  cursor: pointer;
  transition: all 0.4s ease;
  top: 6%;
  transform: translateX(-80%);
}

.content-option-right .btn-export-excel .tooltip,
.content-option-right .btn-delete .tooltip {
  position: absolute;
  top: 50px;
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.content-option-right .btn-export-excel:hover .tooltip,
.content-option-right .btn-delete:hover .tooltip{
  opacity: 1;
  cursor: pointer;
  transition: all 0.4s ease;
  top: 15%;
  transform: translateX(-20%);
}

.table-eidt .tooltip,
.table-delete .tooltip,
.table-replication .tooltip {
  position: relative;
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  top: 20px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}



.table-option .table-eidt:hover .tooltip,
.table-option .table-delete:hover .tooltip,
.table-option .table-replication:hover .tooltip{
  opacity: 1;
  cursor: pointer;
  transition: all 0.4s ease;
  right: 200%;
  color: #000;
}

.btn-header-right .btn-close-dialog .tooltip {
  position: relative;
  top: 20px;
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.btn-header-right .btn-close-dialog:hover .tooltip{
  opacity: 1;
  cursor: pointer;
  transition: all 0.4s ease;
  right: 200%;
  top: 180%;
  transform: translateX(-30%);
}

.table__paging--center .paging__button .tooltip {
  position: absolute;
  bottom: -10px;
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.table__paging--center .paging__button:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-150%);
}