.side-bar li .tooltip,
.side-bar .logo-details .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 10px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }

  .side-bar .logo-details .tooltip{
    left: calc(100%) !important;
  }

  .side-bar li:hover .tooltip,
  .side-bar .logo-details:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }

  .side-bar.open li .tooltip,
  .side-bar.open .logo-details .tooltip{
    display: none;
  }

  @media (max-width: 420px) {
    .side-bar li .tooltip{
      display: none;
    }
  }