/* ---------------- DIALOG WARNING --------------- */
.dialog__content {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    min-width: 350px;
    max-width: 450px;
}

.btn-cancel-dialog-asset {
    border: 1px solid rgb(179, 173, 173);
    color: #000;
    background-color: #fff;
}

.btn-cancel-dialog-asset:hover {
    background-color: rgb(216, 211, 211);
    color: #000;
}



.dialog__container {
    padding-top: 16px;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: row;
    align-items: center;
}

.dialog__body {
    padding:6px 12px 6px 6px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.dialog__msg-item {
    display: flex;
    align-items: center;
    background-size: 16px;
    background-position: 0 center;
    background-repeat: no-repeat;
    padding-left: 24px;
}

.dialog__msg-item~.dialog__msg-item {
    margin-top: 8px;
}

.dialog__footer {
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 16px;
    border-radius: 0 0 4px 4px;
    flex-direction: row-reverse;
}

.dialog__footer .button--cancel {
    background-color: unset;
    color: #000;
}

.dialog__footer .button--cancel:hover,
.button--cancel:focus {
    background-color: #ccc;
}

.dialog__button--close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 4px 0 4px;
    width: 40px;
    height: 40px;
    right: 0;
    top: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(20%) sepia(100%) saturate(3000%)
}

.dialog__button--close:hover {
    background-color: #dedede;
    filter: unset
    /* filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%); */
}